label[data-v-8131d7c1] {
    position: relative
}

input[data-v-8131d7c1] {
    width: 100%;
    border: var(--input-border);
    color: var(--input-color);
    border-radius: var(--input-border-radius);
    padding: var(--input-padding);
    height: 45px
}

.eye[data-v-8131d7c1],
.eye-off[data-v-8131d7c1] {
    background-image: url(/assets/vision-0b878e96.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: .6
}

.eye-off[data-v-8131d7c1] {
    background-image: url(/assets/vision-off-e39c27bd.svg)
}

.error-message[data-v-8131d7c1] {
    color: red;
    font-size: .8rem
}

.label[data-v-8131d7c1] {
    position: absolute;
    left: 26px;
    top: 0;
    padding: 0;
    white-space: nowrap;
    transform-origin: 0 0;
    transition: var(--slow);
    display: block;
    font-size: var(--fs-simple);
    font-weight: var(--bold);
    color: var(--black)
}

input:not(:-moz-placeholder-shown)+.label[data-v-8131d7c1] {
    transform: translate(-12px, -108%) scale(.8);
    color: var(--primary-color);
    background: var(--white);
    padding: 0 5px
}

input:focus+.label[data-v-8131d7c1],
input:not(:placeholder-shown)+.label[data-v-8131d7c1] {
    transform: translate(-12px, -108%) scale(.8);
    color: var(--primary-color);
    background: var(--white);
    padding: 0 5px
}

input:-webkit-autofill+.label[data-v-8131d7c1],
input:-webkit-autofill:focus+.label[data-v-8131d7c1],
input:-webkit-autofill:not(:placeholder-shown)+.label[data-v-8131d7c1] {
    transform: translate(-12px, -108%) scale(.8);
    color: var(--primary-color);
    background: var(--white);
    padding: 0 5px
}