@keyframes vac-spin-345f5c36 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

.loader[data-v-345f5c36] {
    width: 48px;
    margin: 2rem auto;
    height: 48px;
    border-radius: 50%;
    display: block;
    position: relative;
    border: 3px solid;
    border-color: var(--grey) var(--grey) transparent transparent;
    box-sizing: border-box;
    animation: rotation-345f5c36 1s linear infinite
}

.loader[data-v-345f5c36]:after,
.loader[data-v-345f5c36]:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent var(--color-spinner) var(--color-spinner);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack-345f5c36 .5s linear infinite;
    transform-origin: center center
}

.loader[data-v-345f5c36]:before {
    width: 32px;
    height: 32px;
    border-color: var(--grey) var(--grey) transparent transparent;
    animation: rotation-345f5c36 1.5s linear infinite
}

@keyframes rotation-345f5c36 {
    0% {
        transform: rotate(0)
    }
    to {
        transform: rotate(360deg)
    }
}

@keyframes rotationBack-345f5c36 {
    0% {
        transform: rotate(0)
    }
    to {
        transform: rotate(-360deg)
    }
}

#LoaderPage[data-v-2be1b15d] {
    position: absolute;
    top: -10px;
    left: 0;
    background-color: var(--white);
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center
}

img[data-v-2be1b15d] {
    width: 80px;
    height: 80px;
    object-fit: contain;
    animation: loader-2be1b15d 2.5s ease-in-out infinite
}

.enter-active[data-v-2be1b15d] {
    transition: none
}

@keyframes loader-2be1b15d {
    0% {
        transform: rotate(-40deg) scale(.7);
        opacity: .3
    }
    50% {
        transform: rotate(40deg) scale(.9);
        opacity: 1
    }
    to {
        transform: rotate(-40deg) scale(.7);
        opacity: .3
    }
}